<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>AFNetworking_Text</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>AFNetworking</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>AGMedaillon_Text</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>AGMedaillon</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>DDMenu</string>
			<key>FooterText</key>
			<string>DDMenu_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>FacebookComposeViewController</string>
			<key>FooterText</key>
			<string>FacebookComposeViewController_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Harpy</string>
			<key>FooterText</key>
			<string>Harpy_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>HMSegmentedControl</string>
			<key>FooterText</key>
			<string>HMSegmentedControl_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>iRate</string>
			<key>FooterText</key>
			<string>iRate_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>IXPickerOverlayView</string>
			<key>FooterText</key>
			<string>IXPickerOverlayView_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>JSONKit</string>
			<key>FooterText</key>
			<string>JSONKit_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MDCParallaxView</string>
			<key>FooterText</key>
			<string>MDCParallaxView_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MKMapView+ZoomLevel</string>
			<key>FooterText</key>
			<string>MKMapView+ZoomLevel_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MKNumberBadgeView</string>
			<key>FooterText</key>
			<string>MKNumberBadgeView_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MTStatusBarOverlay</string>
			<key>FooterText</key>
			<string>MTStatusBarOverlay_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>NLImageShowCase &amp; ImageShowcase</string>
			<key>FooterText</key>
			<string>NLImageShowCase &amp; ImageShowcase_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>NSDate+NSDateAdditions</string>
			<key>FooterText</key>
			<string>NSDate+NSDateAdditions_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ODRefreshControl</string>
			<key>FooterText</key>
			<string>ODRefreshControl_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>OpenUDID</string>
			<key>FooterText</key>
			<string>OpenUDID_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>PrettyExample</string>
			<key>FooterText</key>
			<string>PrettyExample_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>QBImagePickerController</string>
			<key>FooterText</key>
			<string>QBImagePickerController_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ExpandingButtonBar</string>
			<key>FooterText</key>
			<string>ExpandingButtonBar_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SVPullToRefresh</string>
			<key>FooterText</key>
			<string>SVPullToRefresh_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TimerScroller</string>
			<key>FooterText</key>
			<string>TimerScroller_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TPKeyboardAvoidingScrollView</string>
			<key>FooterText</key>
			<string>TPKeyboardAvoidingScrollView_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TTSwitch</string>
			<key>FooterText</key>
			<string>TTSwitch_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TTTAttributedLabel</string>
			<key>FooterText</key>
			<string>TTTAttributedLabel_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>UIDevice-Extension</string>
			<key>FooterText</key>
			<string>UIDevice-Extension_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>UIImage+Alpha</string>
			<key>FooterText</key>
			<string>UIImage+Alpha_Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MBProgressHUD</string>
			<key>FooterText</key>
			<string>MBProgressHUD_Text</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
